@font-face { font-family: 'FontAwesome'; src: url('fonts/FontAwesome/fontawesome-webfont.eot?v=3.0.1'); src: url('fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'), url('fonts/FontAwesome/fontawesome-webfont.woff?v=3.0.1') format('woff'), url('fonts/FontAwesome/fontawesome-webfont.ttf?v=3.0.1') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: FA; src: url('fonts/FontAwesome/fontawesome-webfont.ttf'); }
@font-face { font-family: Roboto_Regular; src: url('fonts/Roboto/Roboto-Regular.ttf'); }
@font-face { font-family: Roboto_Bold; src: url('fonts/Roboto/Roboto-Bold.ttf'); }
@font-face { font-family: Roboto_Light; src: url('fonts/Roboto/Roboto-Light.ttf'); }
@font-face { font-family: Roboto_LightItalic; src: url('fonts/Roboto/Roboto-LightItalic.ttf'); }
@font-face { font-family: RobotoC_Regular; src: url('fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf'); }
@font-face { font-family: RobotoC_Bold; src: url('fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf'); }
@font-face { font-family: RobotoC_Light; src: url('fonts/Roboto_Condensed/RobotoCondensed-Light.ttf'); }
@font-face { font-family: PTS_Regular; src: url('fonts/PT_Sans/PT_Sans-Web-Regular.ttf'); }
@font-face { font-family: PTS_Bold; src: url('fonts/PT_Sans/PT_Sans-Web-Bold.ttf'); }
@font-face { font-family: PTS_Italic; src: url('fonts/PT_Sans/PT_Sans-Web-Italic.ttf'); }
@font-face { font-family: UBU_Regular; src: url('fonts/Ubuntu/Ubuntu-Regular.ttf'); }
@font-face { font-family: UBU_LigthItalic; src: url('fonts/Ubuntu/Ubuntu-LightItalic.ttf'); }
@font-face { font-family: UBU_Bold; src: url('fonts/Ubuntu/Ubuntu-Bold.ttf'); }
@font-face { font-family: UBC_Regular; src: url('fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf'); }
@font-face { font-family: UBM_Regular; src: url('fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf'); }
@font-face { font-family: BAC_Regular; src: url('fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf'); }
@font-face { font-family: BAC_Bold; src: url('fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf'); }
@font-face { font-family: FIC_Regular; src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf'); }
@font-face { font-family: FEC_Regular; src: url('fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf'); }
@font-face { font-family: FIC_Bold; src: url('fonts/Fira_Sans_Condensed/FiraSansCondensed-Bold.ttf'); }
@font-face { font-family: FEC_Bold; src: url('fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Bold.ttf'); }
@font-face { font-family: Caveat; src: url('fonts/Caveat/Caveat-Regular.ttf'); }
@font-face { font-family: CaveatBrush; src: url('fonts/Caveat_Brush/CaveatBrush-Regular.ttf'); }
@font-face { font-family: Kaushan; src: url('fonts/Kaushan_Script/KaushanScript-Regular.ttf'); }
@font-face { font-family: Shadows; src: url('fonts/Shadows_Into_Light/ShadowsIntoLight.ttf'); }
